extends layout

block eyescanJS
  script(src='/javascripts/jquery.amsify.suggestags.js')
  script(src='/javascripts/eyescanJS.js')
  
block contentEyescan
  div.row.justify-content-between
    // left-box
    div.col-md-3.col-sm-5
      div.card.h-100.border.rounded
        div.card-body
          // Search box
          div.card-block.align-middle-center.align-center.row.justify-content-center.border-bottom.row
            form.col-md-11.col-sm-11(method='post',action='/eyescan/search')
              div.input-group.mb-2
                input.form-control.amsify-suggestags-input(type='text',placeholder='Keyword',aria-describedby='basic-addon2',name="keywordInput")
                div.input-group-append
                  button.btn.btn-outline-primary(type='submit')
                    i.fa.fa-search
          div.card-block.text-center.align-middle-center.align-center.mb-2
            p.h3 NO KEYWORD
           
    // right-box
    div.col-md-9.col-sm-7.h-100
      div.card.border.rounded.h-100
        div.card-header
          p.card-title.font-weight-bold
            |LIST IMAGE
        div.card-body.h-auto
          div.card-block.justify-content-center.align-middle.align-middle-center.text-center
            p.h3 NO ACTION
      
          
      
      
      
      
              
    
        
             
